In [74]:
import pandas as pd
import re

In [75]:
df = pd.read_csv('aln_1A_kmer.sam',skiprows = 2,delim_whitespace=True,header=None, index_col=None,names =  ['QNAME','FLAG','RNAME','POS','MAPQ','CIGAR','RNEXT','PNEXT','TLEN','SEQ','QUAL','M1','M2','M3','M4','M5','M6','M7','M8','M9'])
#df.to_csv('1A_sam_output.csv', index = False)
df = df.iloc[:, : 10]
df['protospacer'] = 'Null'
df

,QNAME,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,protospacer
0,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,125,37,25M,*,0,0,GCTTGAAGGAGATGGAGAGCTCGAT,Null
1,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,130,37,25M,*,0,0,AAGGAGATGGAGAGCTCGATCGGTC,Null
2,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,135,37,25M,*,0,0,GATGGAGAGCTCGATCGGTCTCCTC,Null
3,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,140,37,25M,*,0,0,AGAGCTCGATCGGTCTCCTCTCTCT,Null
4,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,145,37,25M,*,0,0,TCGATCGGTCTCCTCTCTCTTGCTG,Null
...,...,...,...,...,...,...,...,...,...,...,...
140402,A00351:76:HCLKMDSXX:3:2678:27950:32957_4:N:0:0...,16,Chr3_GTL1_protospacer_region,577,37,25M,*,0,0,AAGAAAGAAAGAAAGGCACTGTGCT,Null
140403,A00351:76:HCLKMDSXX:3:2678:27950:32957_4:N:0:0...,16,Chr3_GTL1_protospacer_region,572,37,25M,*,0,0,GAAGAAAGAAAGAAAGAAAGGCACT,Null
140404,A00351:76:HCLKMDSXX:3:2678:27950:32957_4:N:0:0...,16,Chr3_GTL1_protospacer_region,567,37,25M,*,0,0,GTGGAGAAGAAAGAAAGAAAGAAAG,Null
140405,A00351:76:HCLKMDSXX:3:2678:27950:32957_4:N:0:0...,16,Chr3_GTL1_protospacer_region,562,37,25M,*,0,0,GGGCGGTGGAGAAGAAAGAAAGAAA,Null
140406,A00351:76:HCLKMDSXX:3:2678:27950:32957_4:N:0:0...,16,Chr3_GTL1_protospacer_region,557,37,25M,*,0,0,TACTAGGGCGGTGGAGAAGAAAGAA,Null

In [76]:
#check unique indel types
unique_labels = list(df.CIGAR.unique())
print(len(unique_labels))
def unwanted_labels(element):
    pattern = r"(\d+)([a-zA-Z]+)"
    match = re.search(pattern, element)
    if match:
        m = re.findall(pattern,element)
        if len(m) >1 :
            #print("Full match: % s" % (match.group(0)),m) 
            return element
        else:
            return 'wt'
    else:
        return False
    
print(wanted_labels,len(wanted_labels))
unique_labels

54
['25M', '16M1I8M', '11M1I13M', '6M1I18M', '3M1I21M', '8M1I16M', '13M1I11M', '18M1I6M', '4M1D21M', '4M1I20M', '9M1I15M', '14M1I10M', '19M1I5M', '7M1I17M', '12M1I12M', '17M1I7M', '2M1I22M', '20M1I4M', '3M1D22M', '15M1I9M', '10M1I14M', '5M1I19M', '9M2D16M', '7M1D18M', '12M1D13M', '17M1D8M', '15M1D10M', '10M1D15M', '5M1D20M', '10M2I13M', '15M2I8M', '13M2I10M', '8M2I15M', '7M2D18M', '12M2D13M', '17M2D8M', '15M2D10M', '10M2D15M', '5M2D20M', '2M1D23M', '21M1I3M', '21M1D4M', '7M2I16M', '2M2I21M', '14M1D11M', '9M1D16M', '22M1D3M', '16M1D9M', '11M1D14M', '6M1D19M', '8M1D17M', '13M1D12M', '18M1D7M'] 53

['25M',
 '16M1I8M',
 '11M1I13M',
 '6M1I18M',
 '*',
 '3M1I21M',
 '8M1I16M',
 '13M1I11M',
 '18M1I6M',
 '4M1D21M',
 '4M1I20M',
 '9M1I15M',
 '14M1I10M',
 '19M1I5M',
 '7M1I17M',
 '12M1I12M',
 '17M1I7M',
 '2M1I22M',
 '20M1I4M',
 '3M1D22M',
 '15M1I9M',
 '10M1I14M',
 '5M1I19M',
 '9M2D16M',
 '7M1D18M',
 '12M1D13M',
 '17M1D8M',
 '15M1D10M',
 '10M1D15M',
 '5M1D20M',
 '10M2I13M',
 '15M2I8M',
 '13M2I10M',
 '8M2I15M',
 '7M2D18M',
 '12M2D13M',
 '17M2D8M',
 '15M2D10M',
 '10M2D15M',
 '5M2D20M',
 '2M1D23M',
 '21M1I3M',
 '21M1D4M',
 '7M2I16M',
 '2M2I21M',
 '14M1D11M',
 '9M1D16M',
 '22M1D3M',
 '16M1D9M',
 '11M1D14M',
 '6M1D19M',
 '8M1D17M',
 '13M1D12M',
 '18M1D7M']

In [77]:
wt_bank = {'p1':"CACAACGACG",'p2':"GCTACGTACG",'p3':"CGGGGAATCT",'p4':"GGTGGGCCCG",'p5':'ACGCGGACCC','p6':'CCCACGTTGC','p7':'CACATGTTTT'}

In [78]:
#protospacer PAM index (not python index, followed sam file index)
perfect_match_requirement = 25
p_bank = {'p1':238,'p2':744,'p3':941,'p4':1277,'p5':1366,'p6':1402,'p7':1497}
#+1 to make sure PAM is covered
acceptable_index_range = {key: {key+'start': val-perfect_match_requirement+1, key+'end': val-1}  for key, val in p_bank.items()}
acceptable_index_range

{'p1': {'p1start': 214, 'p1end': 237},
 'p2': {'p2start': 720, 'p2end': 743},
 'p3': {'p3start': 917, 'p3end': 940},
 'p4': {'p4start': 1253, 'p4end': 1276},
 'p5': {'p5start': 1342, 'p5end': 1365},
 'p6': {'p6start': 1378, 'p6end': 1401},
 'p7': {'p7start': 1473, 'p7end': 1496}}

In [79]:
#taken 10 bp
specific_index_range = {key: val-5 for key, val in p_bank.items()}
specific_index_range

{'p1': 233,
 'p2': 739,
 'p3': 936,
 'p4': 1272,
 'p5': 1361,
 'p6': 1397,
 'p7': 1492}

In [80]:
# from the start POS, find which protospacer the seq looked at

def protospacer_finder(x, range_dict):
    find = False
    for key,value_ in range_dict.items():
        #print(value_.values(), type(value_.values()))
        range_to_find = list(value_.values())
        #print(range_to_find)
        if x in range(range_to_find[0], range_to_find[1]):
            find = True
            return key
        else:
            pass
    if not find:
        #target seq not at protospacer region
        return find
#test
a = protospacer_finder(1368,acceptable_index_range) 
a

False

In [81]:
#select rows that may contain possible indels surrounding PAM
possible_indel_rows = df.loc[df['CIGAR'].apply(unwanted_labels) != False]
possible_indel_rows = possible_indel_rows.loc[possible_indel_rows['POS'].apply(protospacer_finder,args=(acceptable_index_range,)) != False]
possible_indel_rows.reset_index(drop=True, inplace=True)
possible_indel_rows['real_pam_seq'] = 'Null'
possible_indel_rows

,QNAME,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,protospacer,real_pam_seq
0,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,215,25,25M,*,0,0,ATGGCATCCATATCCATCCACAAAC,Null,Null
1,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,220,37,16M1I8M,*,0,0,ATCCATATCCATCCACAAACGACGA,Null,Null
2,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,225,37,11M1I13M,*,0,0,TATCCATCCACAAACGACGACCTAA,Null,Null
3,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,230,37,6M1I18M,*,0,0,ATCCACAAACGACGACCTAATAAGC,Null,Null
4,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,234,25,25M,*,0,0,CAAACGACGACCTAATAAGCTTTAC,Null,Null
...,...,...,...,...,...,...,...,...,...,...,...,...
9368,A00351:76:HCLKMDSXX:3:2677:12518:20791_4:N:0:0...,0,Chr3_GTL1_protospacer_region,215,37,25M,*,0,0,ATGGCATCCATATCCATCCACAACG,Null,Null
9369,A00351:76:HCLKMDSXX:3:2677:12518:20791_4:N:0:0...,0,Chr3_GTL1_protospacer_region,220,37,25M,*,0,0,ATCCATATCCATCCACAACGACGAC,Null,Null
9370,A00351:76:HCLKMDSXX:3:2677:12518:20791_4:N:0:0...,0,Chr3_GTL1_protospacer_region,225,37,25M,*,0,0,TATCCATCCACAACGACGACCTAAT,Null,Null
9371,A00351:76:HCLKMDSXX:3:2677:12518:20791_4:N:0:0...,0,Chr3_GTL1_protospacer_region,230,37,25M,*,0,0,ATCCACAACGACGACCTAATAAGCT,Null,Null
9372,A00351:76:HCLKMDSXX:3:2677:12518:20791_4:N:0:0...,0,Chr3_GTL1_protospacer_region,235,37,25M,*,0,0,CAACGACGACCTAATAAGCTTTACC,Null,Null

In [82]:
for i in range(possible_indel_rows.shape[0]):
    finder_result = protospacer_finder(possible_indel_rows.iloc[i]['POS'],acceptable_index_range)
    assert_if_wt = unwanted_labels(possible_indel_rows.iloc[i]['CIGAR'])
    possible_indel_rows.at[i,'protospacer'] = finder_result
    possible_indel_rows.at[i,'CIGAR'] = assert_if_wt
    #taken the seq from the segments
    starting_PAM_index = specific_index_range[finder_result] - possible_indel_rows.iloc[i]['POS']
    if starting_PAM_index >= 0 and possible_indel_rows.iloc[i]['POS']+starting_PAM_index+10 < possible_indel_rows.iloc[i]['POS']+25:
        possible_indel_rows.at[i,'real_pam_seq'] = possible_indel_rows.iloc[i]['SEQ'][starting_PAM_index:starting_PAM_index+10]
        if assert_if_wt == 'wt':
            if possible_indel_rows.loc[i,'real_pam_seq'] != wt_bank[possible_indel_rows.loc[i,'protospacer']]:
                possible_indel_rows.at[i,'real_pam_seq'] = 'Null'
            else:
                possible_indel_rows.at[i,'real_pam_seq'] = 'wt'
possible_indel_rows

,QNAME,FLAG,RNAME,POS,MAPQ,CIGAR,RNEXT,PNEXT,TLEN,SEQ,protospacer,real_pam_seq
0,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,215,25,wt,*,0,0,ATGGCATCCATATCCATCCACAAAC,p1,Null
1,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,220,37,16M1I8M,*,0,0,ATCCATATCCATCCACAAACGACGA,p1,CACAAACGAC
2,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,225,37,11M1I13M,*,0,0,TATCCATCCACAAACGACGACCTAA,p1,CACAAACGAC
3,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,230,37,6M1I18M,*,0,0,ATCCACAAACGACGACCTAATAAGC,p1,CACAAACGAC
4,A00351:76:HCLKMDSXX:3:1101:20338:25254_1:N:0:0...,0,Chr3_GTL1_protospacer_region,234,25,wt,*,0,0,CAAACGACGACCTAATAAGCTTTAC,p1,Null
...,...,...,...,...,...,...,...,...,...,...,...,...
9368,A00351:76:HCLKMDSXX:3:2677:12518:20791_4:N:0:0...,0,Chr3_GTL1_protospacer_region,215,37,wt,*,0,0,ATGGCATCCATATCCATCCACAACG,p1,Null
9369,A00351:76:HCLKMDSXX:3:2677:12518:20791_4:N:0:0...,0,Chr3_GTL1_protospacer_region,220,37,wt,*,0,0,ATCCATATCCATCCACAACGACGAC,p1,wt
9370,A00351:76:HCLKMDSXX:3:2677:12518:20791_4:N:0:0...,0,Chr3_GTL1_protospacer_region,225,37,wt,*,0,0,TATCCATCCACAACGACGACCTAAT,p1,wt
9371,A00351:76:HCLKMDSXX:3:2677:12518:20791_4:N:0:0...,0,Chr3_GTL1_protospacer_region,230,37,wt,*,0,0,ATCCACAACGACGACCTAATAAGCT,p1,wt
9372,A00351:76:HCLKMDSXX:3:2677:12518:20791_4:N:0:0...,0,Chr3_GTL1_protospacer_region,235,37,wt,*,0,0,CAACGACGACCTAATAAGCTTTACC,p1,Null

counts_for_types = possible_indel_rows['real_pam_seq'].value_counts()
print(counts_for_types, type(counts_for_types))

In [83]:
leaf_name = '1A'
indel_count_series = possible_indel_rows.groupby(['protospacer', 'real_pam_seq']).size()
new_df = indel_count_series.to_frame(name = leaf_name).reset_index()
new_df = new_df[new_df.real_pam_seq != 'Null']
new_df

   protospacer real_pam_seq    1A
0           p1   AACAAACGAC     6
1           p1   CACAAACGAA     6
2           p1   CACAAACGAC  3027
3           p1   CACAAATCGA     4
4           p1   CACAACCGAC     3
5           p1   CACAATCGAC     3
6           p1   CACACACGAC     3
7           p1   CACAGACGAC     6
8           p1   CAGACGACGA     1
9           p1   CCCCAACGAC     1
11          p1   TACAAACGAC     6
12          p1           wt   444
13          p2   GCTACCGTAC     6
15          p2           wt   542
17          p3           wt     3
18          p4   GGTGGCCCGG     6
19          p4   GGTGGTGCCC     4
21          p4           wt   550
24          p7   CACATAGTTT    18
25          p7   CACATCGTTT     3
26          p7   CACATGTTTT     6
27          p7   CACATTGTTT    72
28          p7   CACATTTTTG    15
29          p7   CACATTTTTT    23
30          p7   CATAGTTTTT     2
32          p7   TACAGTTTTT    69
33          p7           wt   809

In [68]:
possible_indel_rows.protospacer.unique()

array(['p1', 'p2', 'p7', 'p4'], dtype=object)

In [87]:
new_df.to_csv('1A_indel_count.csv', index = False)